<!DOCTYPE html>
<html>
<head>
	{% block head %}
  <title>{% block title %}{% endblock %}</title>
  <script src="../lib/amcharts/amcharts.js" type="text/javascript"></script>
  <script src="../lib/amcharts/pie.js" type="text/javascript"></script>
  <link rel="stylesheet" href="../css/styles.css">
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="../css/materialize.css"  media="screen,projection"/>

  <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="../js/materialize.js"></script>
  <script type="text/javascript" src="../js/script.js"></script>

  <!-- Resources -->
  <script src="https://www.amcharts.com/lib/3/serial.js"></script>
  <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
  <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  {% endblock %}
</head>
<body>
  {% include 'header.twig' %}
  {% block body %}
  {% endblock %}
  {% include 'footer.twig' %}
</body>
  {% block javascripts %}
  {% endblock %}
</html>	 