<nav>
	<div class="nav-wrapper">
		<a href="#!" class="brand-logo">Analyseur des sentiments sur les réseaux sociaux (sur le SM Caen)</a>
		<ul class="right hide-on-med-and-down">
			<li><a href="/">Accueil</a></li>
			<li><a href="/graph">Sentiments par match</a></li>
		</ul>
	</div>
</nav>