{% extends 'base.twig' %}
{% block title %}Index{% endblock %}
{{ dump(tweet) }}
{% block javascripts %}
<script>
	var chart;
	var legend;

	var chartData = [
	{
		"sentiment": "Positif",
		"value": {{ tweets.pos }}
	},
	{
		"sentiment": "Neutre",
		"value": {{ tweets.neutral }}
	},
	{
		"sentiment": "Négatif",
		"value": {{ tweets.neg }}
	},
	];

	AmCharts.ready(function () {
	                // PIE CHART
	                chart = new AmCharts.AmPieChart();
	                chart.dataProvider = chartData;
	                chart.titleField = "sentiment";
	                chart.valueField = "value";
	                chart.outlineColor = "#FFFFFF";
	                chart.outlineAlpha = 0.8;
	                chart.outlineThickness = 2;
	                chart.balloonText = "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>";
	                // this makes the chart 3D
	                chart.depth3D = 15;
	                chart.angle = 30;

	                // WRITE
	                chart.write("chartdiv");
	            });
	        </script>
	        {% endblock %}
	        {% block body %}
	        <div class="row">
	        	<form class="col s12">
	        	<div class="row">
	        		<nav>
	        			<div class="nav-wrapper col s12">
	        				<form>
	        					<div class="input-field">
	        						<input id="search" type="search" required>
	        						<label for="search"><i class="material-icons">search</i></label>
	        						<i class="material-icons">close</i>
	        					</div>
	        				</form>
	        			</div>
	        		</nav>
	        		</div>
	        		<div class="row">
	        			<div class="switch col s6">
	        				<label>
	        					Twitter
	        					<input type="checkbox" name="social" value="twitter">
	        					<span class="lever"></span>
	        				</label>
	        			</div>
	        			<div class="switch col s6">
	        				<label>
	        					Facebook
	        					<input type="checkbox" name="social" value="facebook">
	        					<span class="lever"></span>
	        				</label>
	        			</div>
	        		</div>
	        		<div class="row">
	        			<p>
	        				<input type="checkbox" name="social" value="SMCASS" id="SMCASS" checked="checked">
	        				<label for="SMCASS">Match SMC / ASS</label>
	        			</p>
	        			<p>
	        				<input type="checkbox" name="social" value="SMCOGC" id="SMCOGC" checked="checked">
	        				<label for="SMCOGC">Match SMC / OGC</label>
	        			</p>
	        			<p>
	        				<input type="checkbox" name="social" value="SMCASNL" id="SMCASNL" checked="checked">
	        				<label for="SMCASNL">Match SMC / ASNL</label>
	        			</p>
	        		</div>
	        		<div class="row">
	        			<button class="btn waves-effect waves-light right" type="submit" name="action">Envoyer
	        				<i class="material-icons right">send</i>
	        			</button>
	        		</div>
	        	</form>
	        </div>
	        <div id="chartdiv"></div>
	        
	        {% endblock %}
