{% extends 'base.twig' %}
{% block title %}Index{% endblock %}


<!-- Chart code -->
{% block javascripts %}
<script>
  var chartData = [{
   "dateMatch": "2000",
   "pos": 0,
   "neutral": 0,
   "neg": 0,
   "total": 0
 },{
   "dateMatch": "2001",
   "pos": 1098,
   "neutral": 680,
   "neg": 910,
   "total": 2688
 }, {
   "dateMatch": "2002",
   "pos": 975,
   "neutral": 664,
   "neg": 670,
   "total": 2400
 }, {
   "dateMatch": "2003",
   "pos": 1246,
   "neutral": 648,
   "neg": 930,
   "total": 3000
 }, {
   "dateMatch": "2004",
   "pos": 1218,
   "neutral": 637,
   "neg": 1010,
   "total": 3000
 }];

 var chart =  AmCharts.makeChart("chartdiv2", {
  "type": "serial",
  "theme": "light",

  "fontFamily": "Lato",
  "autoMargins": true,
  "addClassNames": true,
  "zoomOutText": "",
  "defs": {
    "filter": [
    {
      "x": "-50%",
      "y": "-50%",
      "width": "200%",
      "height": "200%",
      "id": "blur",
      "feGaussianBlur": {
        "in": "SourceGraphic",
        "stdDeviation": "50"
      }
    },
    {
      "id": "shadow",
      "width": "150%",
      "height": "150%",
      "feOffset": {
        "result": "offOut",
        "in": "SourceAlpha",
        "dx": "2",
        "dy": "2"
      },
      "feGaussianBlur": {
        "result": "blurOut",
        "in": "offOut",
        "stdDeviation": "10"
      },
      "feColorMatrix": {
        "result": "blurOut",
        "type": "matrix",
        "values": "0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 .2 0"
      },
      "feBlend": {
        "in": "SourceGraphic",
        "in2": "blurOut",
        "mode": "normal"
      }
    }
    ]
  },
  "fontSize": 15,
  "pathToImages": "../amcharts/images/",
  "dataProvider": chartData,
  "dataDateFormat": "YYYY",
  "marginTop": 0,
  "marginRight": 1,
  "marginLeft": 0,
  "autoMarginOffset": 5,
  "categoryField": "dateMatch",
  "categoryAxis": {
    "gridAlpha": 0.07,
    "axisColor": "#DADADA",
    "startOnAxis": true,
    "tickLength": 0,
    "parseDates": true,
    "minPeriod": "YYYY"
  },
  "valueAxes": [
  {
    "ignoreAxisWidth":true,
    "stackType": "regular",
    "gridAlpha": 0.07,
    "axisAlpha": 0,
    "inside": true
  }
  ],
  "graphs": [
  {
    "id": "g1",
    "type": "line",
    "title": "Positif",
    "valueField": "pos",
    "fillColors": "#0066e3",
    "lineAlpha": 0,
    "fillAlphas": 0.8,
    "showBalloon": false
  },
  {
    "id": "g2",
    "type": "line",
    "title": "Neutre",
    "valueField": "neutral",
    "lineAlpha": 0,
    "fillAlphas": 0.8,
    "lineColor": "#5bb5ea",
    "showBalloon": false
  },
  ,
  {
    "id": "g3",
    "type": "line",
    "title": "Négatif",
    "valueField": "neg",
    "lineAlpha": 0,
    "fillAlphas": 0.8,
    "lineColor": "#802ea9",
    "showBalloon": false
  },
  {
    "id": "g4",
    "title": "Total",
    "valueField": "total",
    "lineAlpha": 0.5,
    "lineColor": "black",
    "bullet": "round",
    "dashLength": 2,
    "bulletBorderAlpha": 1,
    "bulletAlpha": 1,
    "bulletSize": 15,
    "stackable": false,
    "bulletColor": "#5d7ad9",
    "bulletBorderColor": "black",
    "bulletBorderThickness": 3,
    "balloonText": "<div style='margin-bottom:30px;text-shadow: 2px 2px rgba(0, 0, 0, 0.1); font-weight:200;font-size:30px; color:black'>[[value]]</div>"
  }],
  "chartCursor": {
    "cursorAlpha": 1,
    "zoomable": false,
    "cursorColor": "#FFFFFF",
    "categoryBalloonColor": "#8d83c8",
    "fullWidth": true,
    "categoryBalloonDateFormat": "YYYY",
    "balloonPointerOrientation": "vertical"
  },
  "balloon": {
    "borderAlpha": 0,
    "fillAlpha": 0,
    "shadowAlpha": 0,
    "offsetX": 40,
    "offsetY": -50
  }
});

// we zoom chart in order to have better blur (form side to side)
chart.addListener("dataUpdated", zoomChart);

function zoomChart(){
  chart.zoomToIndexes(1, chartData.length - 2);
}
</script>
{% endblock %}
{% block body %}
<!-- HTML -->
<div id="chartdiv2"></div>
{% endblock %}